{% extends 'common/master.html' %}
{% load static %}
{% block title %} home {% endblock %}
{% block header %}

<style>
img{
    height: 600px;
    width: 900px;
    margin-left: 70px;
    margin-top: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <img src="{% static 'images/blog1.jpg' %}" alt="">
        </div>
        <div class="col-4">

        </div>
    </div>
</div>

{% endblock %}